<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <!-- title should be compliance rate for participant {id} where id is pulled from flask  -->
    <title>Welcome to SCI Project Dashboard!</title>
</head>

<body>
    <h1>Welcome to SCI Project Dashboard!</h1>
    {{ table | safe}}
</body>